.text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.react-datepicker-wrapper {
  display: flex !important;
  margin: 16px;
}
.react-datepicker-popper {
  z-index: 2 !important;
}
.subHead a {
  font-size: 15px;
  text-decoration: none;
  color: #1890ff;
}

.subHead {
  font-size: 15px;
  color: grey;
}

.outlined-react-quill {
  border: 1px solid #c4c4c4; /* Add an outline border */
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  background-color: white;
}
.remove {
  margin: 17px 15px;
  width: 8%;
  padding: 6px;
}
.add {
  width: 8%;
  padding: 7px;
  color: green;
  border-color: green;
}
