.text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.react-datepicker-wrapper {
  display: flex !important;
  margin: 16px;
}
.react-datepicker-popper {
  z-index: 2 !important;
}
.subHead a {
  font-size: 15px;
  text-decoration: none;
  color: #1890ff;
}

.subHead {
  font-size: 15px;
  color: grey;
}

.outlined-react-quill {
  border: 1px solid #c4c4c4; /* Add an outline border */
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  background-color: white;
}
.remove {
  margin: 17px 15px;
  width: 8%;
  padding: 6px;
}
.add {
  width: 8%;
  padding: 7px;
  color: green;
  border-color: green;
}
.insightsIcon {
  color: #008000e6;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px;
  padding: 4px;
}
.editIcon {
  color: #6495ed;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px;
  padding: 4px;
}
.deleteIcon {
  color: #ff5733;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 6px;
  font-size: 30px;
  padding: 4px;
}

/* Insights.css */

.insights-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.info-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.recipe {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.meal-title {
  font-size: 20px;
  color: #555;
}

.recipe-item {
  margin: 10px 0;
}

/* Add date picker styling here */
.css-17qjh8i-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 14px 0 !important;
}
.textRight {
  text-align: right !important;
}
.textcenter {
  text-align: center;
}
.pd-2 {
  padding-top: 2px !important;
}
.dateRight {
  justify-content: flex-end;
  display: flex;
  margin-top: 9px;
}
.border50 {
  border-radius: 50%;
}
.mr-8 {
  margin-right: 8px;
}
.udiv {
  padding: 4px 20px;
}
.mr-6 {
  margin-right: 6px;
}
.mo-div {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mealCalDiv {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #8080803d;
}
.arrowStyle {
  text-align: center;
  padding-top: 6px;
}
.calperColor {
  color: #0f958e;
}
.recipesHeader {
  background-color: #a2b2eb7d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 20px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.text-center {
  text-align: center;
}
.nutrientHeader {
  background-color: antiquewhite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 20px !important;
}
.mainborder {
  border: 1px solid #80808047;
}
.allNutrientDiv {
  background: #80808026;
  border-bottom: 1px solid #8080804a;
}
.resIcon {
  border: 1px solid;
  color: orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 7px;
}
.circularIcon {
  text-align: center;
  margin-top: 20px;
}
.h4Box {
  font-size: 34px;
  /* color: #faad14; */
}
.countdiv {
  text-align: center !important;
  display: block;
}
.MuiCardContent-root {
  padding: 0px !important;
}
.countheader {
  color: black;
  padding: 12px;
}
.countfooter {
  padding: 4px;
  color: black;
}
.textdecoration {
  text-decoration: none;
}
.pt-12 {
  padding-top: 12px;
}
.activeP {
  color: green;
  font-weight: bold;
}
.deactiveP {
  color: #ff0000ba;
  font-weight: bold;
}
.send-noti-btn {
  margin-top: -20px;
}
